html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    max-width: 100%;
    overflow-x: hidden;
}
body {
    color: white;
    box-sizing: border-box;
    padding: 15px;
    font: 1.3rem Inconsolata, monospace;
    background: black; 
    text-shadow: 0 0 5px #C8C8C8;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
}

::selection {
    background: #0080FF;
    text-shadow: none;
}

#input {
    outline: none;
}

.line {
    white-space: pre;
}